* {
  font-family: 'Poppins', Arial, sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;
  outline: none;
  transition: 0.3s all ease;
  color: var(--black);
  background-color: none;
  &::before, &::after {
    box-sizing: inherit;
  }
}