.event {
  text-decoration: none;
  &__img {
    @include border-radius(5px);
    @include margin(0 1rem 0 0);
    background-color: var(--blue);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  &__meta {
    @include flex(true);
    max-width: 60ch;
    width: 100%;
    & > .source {
      margin-top: auto;
    }
    & .description {
      margin-bottom: 1rem;
    }
  }
}

.event__wrapper {
  max-width: 60ch;
  @include margin(5rem auto);
  & img {
    width: 100%;
    height: auto;
  }
}

.border {
  background-color: var(--black);
  width: 1px;
}
