@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
:root {
  --red: rgba(247, 35, 73, 1);
  --yellow: rgba(246, 215, 111, 1);
  --blue: rgba(22, 165, 217, 1);
  --cream:  rgba(255, 253, 248, 1);
}

* {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: var(--cream);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* mobile */
html {
  font-size: 14px;
}

/* tablet */
@media only screen and (min-width: 480px) {
  html {
    font-size: 16px;
  }
}

/* desktop */
@media only screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

/* extra large */
@media only screen and (min-width: 1024px) {
  html {
    font-size: 20px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
.bold {
  font-weight: 900;
}

.container__username {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.container__username > * {
  margin-right: 1rem;
}

.container__message {
  background: var(--cream);
  height: 10rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px -10px 30px rgba(0, 0, 0, 0.04);
          box-shadow: 0px -10px 30px rgba(0, 0, 0, 0.04);
}

.App {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.App > * {
  padding-left: 10vw;
  padding-right: 10vw;
}

.send-button {
  position: absolute;
  right: calc(10vw + 0.7rem);
  border-radius: 100%;
  border: 1px solid white;
  background: var(--red);
  color: black;
  cursor: pointer;
  outline: none;
  height: 2rem;
  width: 2rem;
}

.send-icon {
  background: url(../static/send.svg);
  height: 1.8rem;
  width: 1.8rem;
  position: relative;
  left: 0.1rem;
  bottom: 0.05rem;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 0.1rem;
}

.send-button:disabled {
  cursor: default;
}

.button {
  border-radius: 100%;
  border: 1px solid white;
  background: var(--red);
  color: black;
  cursor: pointer;
  outline: none;
  height: 2rem;
  width: 2rem;
}

.button:disabled {
  cursor: default;
}

.button__send_message {
  position: absolute;
  right: calc(10vw + 0.7rem);
}

.button__confirm_username {
  -webkit-transition: none;
  transition: none;
}

.icon {
  fill: white;
  position: relative;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.icon__send_message {
  background: url(../static/send.svg);
  height: 1.8rem;
  width: 1.8rem;
  left: 0.1rem;
  bottom: 0.05rem;
  padding-bottom: 0.1rem;
}

.icon__set_username {
  background: url(../static/user.svg);
  height: 1.25rem;
  width: 1.25rem;
  left: 0.3rem;
  bottom: 0.05rem;
  padding-bottom: 0.1rem;
  -webkit-transition: none;
  transition: none;
}

.icon__confirm_username {
  background: url(../static/check.svg);
  height: 1.37rem;
  width: 1.37rem;
  left: 0.25rem;
  -webkit-transition: none;
  transition: none;
}

.input {
  height: 2.5rem;
  border: 2px solid;
  border-color: #e6e6e6;
  border-radius: 1.5rem;
  outline: none;
  padding-left: 1rem;
}

.input__username {
  height: 2rem;
  font-size: 0.8rem;
  width: 30ch;
  color: #000;
}

.input__message {
  color: #000;
  font-size: 1rem;
  width: calc(100% - 1rem);
}

.input:focus {
  border-top-color: var(--yellow);
  border-bottom-color: var(--blue);
  border-right-color: var(--blue);
  border-left-color: var(--yellow);
}

.message {
  display: inline-block;
}

.message__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.message__text {
  background: var(--red);
  color: #fff;
  border-radius: 0.75rem;
  padding: 0.3rem 1rem 0.4rem 1rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 45ch;
  word-wrap: break-word;
}

.message__username {
  font-size: 0.6rem;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 0.3rem;
}

.messages > * {
  margin-bottom: 2rem;
}

.messages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  overflow: auto;
  height: calc(100vh - 20rem);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.logo {
  background: url(../static/parrot.svg);
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 1rem;
  background-repeat: no-repeat;
  background-position: center;
}
/*# sourceMappingURL=App.css.map */