@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --ratio: 1.25;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --pad: 5vw;
  --white: #FFF;
  --gray: #F8F8F8;
  --black: #000;
  --blue: #56BAE4;
}

* {
  font-family: 'Poppins', Arial, sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;
  outline: none;
  transition: 0.3s all ease;
  color: var(--black);
  background-color: none;
}

*::before, *::after {
  box-sizing: inherit;
}

/* mobile */
html {
  font-size: 14px;
}

.event .card {
  flex-direction: column;
}

.event .card .event__img {
  width: 100%;
  height: 10rem;
  margin-bottom: 1rem;
}

.officer__img {
  height: 8rem;
  width: 8rem;
}

/* tablet */
@media only screen and (min-width: 480px) {
  html {
    font-size: 16px;
  }
}

/* desktop */
@media only screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
  .event .card {
    flex-direction: row;
  }
  .event .card .event__img {
    margin-bottom: 0;
  }
  .events__old .card .event__img {
    width: 10rem;
    height: 5rem;
  }
  .events__new .card .event__img {
    width: 14rem;
    height: 7rem;
  }
}

/* extra large */
@media only screen and (min-width: 1024px) {
  html {
    font-size: 20px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
.bold {
  font-weight: 800;
}

* {
  line-height: 1.15;
}

.caps {
  text-transform: uppercase;
}

.color\:blue {
  color: var(--blue);
}

.upper {
  text-transform: uppercase;
}

.font\:regular {
  font-weight: 300;
}

.font\:bold {
  font-weight: 800;
}

.font\:black {
  font-weight: 900;
}

.font-size\:s-5 {
  font-size: var(--s-5);
}

.font-size\:s-4 {
  font-size: var(--s-4);
}

.font-size\:s-3 {
  font-size: var(--s-3);
}

.font-size\:s-2 {
  font-size: var(--s-2);
}

.font-size\:s-1 {
  font-size: var(--s-1);
}

.font-size\:s0 {
  font-size: var(--s0);
}

.font-size\:s1 {
  font-size: var(--s1);
}

.font-size\:s2 {
  font-size: var(--s2);
}

.font-size\:s3 {
  font-size: var(--s3);
}

.font-size\:s4 {
  font-size: var(--s4);
}

.font-size\:s5 {
  font-size: var(--s5);
}

.flex {
  display: flex;
}

.flex\:column {
  display: flex;
  flex-direction: column;
}

.clip {
  overflow: hidden;
}

.invert {
  mix-blend-mode: exclusion !important;
  filter: invert(1) !important;
}

.flow > * + * {
  margin-top: var(--s0);
}

.flow\:tight > * + * {
  margin-top: var(--s-3);
}

.flow\:wide > * + * {
  margin-top: var(--s5);
}

.flow\:gap > * + * {
  margin-top: 5rem;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: auto auto;
}

.App > * {
  width: min(90vw, 1080px);
  margin-left: auto;
  margin-right: auto;
}

.button {
  border-radius: 7px;
  padding: 0.6rem 1.2rem;
  min-width: 20ch;
  border: solid 2px var(--black);
  box-shadow: 8px 6px 0px var(--blue);
  background-color: var(--white);
}

.button:hover {
  color: var(--blue);
  cursor: pointer;
}

.button:active {
  box-shadow: none;
  transform: translate(8px, 6px);
}

.logo, .nav-item, .nav > *, .link {
  text-transform: uppercase;
  font-size: 0.8rem;
  height: 3ch;
}

.link {
  text-decoration: none;
}

.link:hover {
  opacity: 50%;
  cursor: pointer;
}

.heading {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 0.8rem;
  height: 3ch;
}

.nav > * {
  margin-left: 1rem;
}

.heading {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 0.8rem;
  height: 3ch;
}

.header, .footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10ch;
}

.header *, .footer * {
  display: flex;
}

.header .logo img, .footer .logo img {
  width: 1.5rem;
  margin: -0.3rem 0 0.3rem 0;
}

.header {
  margin: 20px auto;
}

.topic img {
  max-width: 100%;
  margin: 2rem 0;
}

.intro, .contact {
  flex-wrap: wrap;
  justify-content: center;
}

.intro article, .contact article {
  width: 45ch;
}

.intro :first-child, .contact :first-child {
  margin-right: 2rem;
}

.container {
  border-radius: 10px;
  padding: 1.5rem;
  background-color: var(--gray);
}

.card {
  border-radius: 5px;
  padding: 1rem;
  text-decoration: none;
  background-color: var(--white);
  border: 1px solid var(--black);
  height: 100%;
}

.card__hover:hover {
  box-shadow: 8px 6px 0px var(--blue);
}

.event {
  text-decoration: none;
}

.event__img {
  border-radius: 5px;
  margin: 0 1rem 0 0;
  background-color: var(--white);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.event__meta {
  display: flex;
  flex-direction: column;
  max-width: 60ch;
  width: 100%;
}

.event__meta > .source {
  margin-top: auto;
}

.event__meta .description {
  margin-bottom: 1rem;
}

.event__wrapper {
  max-width: 60ch;
  margin: 5rem auto;
}

.event__wrapper img {
  width: 100%;
  height: auto;
}

.border {
  background-color: var(--black);
  width: 1px;
}

.officer__img {
  border-radius: 5px;
  margin-right: 1rem;
  background-color: var(--white);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.officer__meta {
  max-width: 60ch;
  width: 100%;
}

.footer {
  background-color: var(--gray);
  width: 100%;
  padding: 20px max(5vw, calc(50vw - 540px));
  justify-content: space-between;
}
/*# sourceMappingURL=App.css.map */