.button {
  @include border-radius(7px);
  @include padding(0.6rem 1.2rem);
  min-width: 20ch;
  border: solid 2px var(--black);
  box-shadow: 8px 6px 0px var(--blue);
  background-color: var(--white);
  &:hover {
    color: var(--blue);
    cursor: pointer;
  }
  &:active {
    box-shadow: none;
    transform: translate(8px, 6px);
  }
}