.card {
  @include border-radius(5px);
  @include padding(1rem);
  text-decoration: none;
  background-color: var(--white);
  border: 1px solid var(--black);
  &__hover:hover {
    box-shadow: 8px 6px 0px var(--blue);
  }
}