.input{
  height:2.5rem;
  border: 2px solid;
  border-color:rgb(230, 230, 230);
  border-radius: 1.5rem;
  outline:none;
  padding-left: 1rem;
  &__username {
    height: 2rem;
    font-size: 0.8rem;
    width: 30ch;
    color: #000;
  }
  &__message {
    color:#000;
    font-size: 1rem;
    width: calc(100% - 1rem);
  }
}

.input:focus {
  border-top-color: var(--yellow);
  border-bottom-color: var(--blue);
  border-right-color: var(--blue);
  border-left-color: var(--yellow);
}